.app {
  height: 100vh;
  padding: 2.4rem;
  overscroll-behavior-y: none;
  display: flex;
  position: relative;
}
@media only screen and (max-width: 710px) {
  .app {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
    padding: 0;
  }
}
